@font-face {
  font-family: 'Muller';
  src: url('../font/MullerRegular.woff');
}


@font-face {
  font-family: 'Montserrat';
  src: url('../font/Montserrat-Regular.woff') format("woff")
}


@font-face {
  font-family: 'MontserratLight', sans-serif;
  src: url('../font/Montserrat-Light.ttf');
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #222;
  z-index: 12312321;
}
#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #9370DB;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #BA55D3;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}
#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #FF00FF;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
  0%   {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}
@keyframes spin {
  0%   {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}


body,
html {
  padding: 0;
  margin: 0;
}




* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

ul,
li {
  list-style: none;
}


.dn {
  display: none !important;
}

.sidebar {
  z-index: 1121321321;
  position: fixed;
  flex-basis: 271px;
  height: 100vh;
  width: 17%;
  background-color: #121720;
  color: #fff;
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgba(28, 131, 232, 0.60);
  justify-content: space-between;
  font-family: 'Muller', sans-serif;
}


.logo {
  padding-top: 29px;
  display: block;
  width: 139px;
  height: 47px;
  margin: 0 auto;
}

.sidebar__list {
  padding-top: 106px;
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding-left: 32px;

}

.sidebar__list li a {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.bluecolor {
  color: #0D6CCA;
}


.sidebar__list li img {
  margin-right: 5px;
}

.content {
  min-height: 100vh;
  margin-left: 17%;
  background: #050911;
  color: #fff;
  padding-left: 21px;
}


.sidebar__logout {
  color: #fff;
  text-decoration: none;
  padding-left: 32px;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
}

.content__header {
  display: flex;
  align-items: center;
  justify-content: end;
}



.sidebar__logout img {
  padding-right: 15px;
}

.content__wallets {
  display: flex;
}

.eth__wallet {
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #fff;
  width: fit-content;
  width: 158px;
  height: 31px;
  padding: 0px 0px 0px 8px;
  border-radius: 10px;
  margin-right: 32px;
  background: var(--blue-gradient, linear-gradient(270deg, #0D6CCA 0%, #1F87EA 100%));
}


.eth__wallet p {
  padding-left: 14px;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.profile__image {
  cursor: pointer;
}


.current__first__block {
  max-width: 450px;
  width: 450px;
  padding: 25px 0px 30px 36px;

}

.first__block {
  border-radius: 10px;
  background: rgba(27, 26, 32, 0.60);
  border: 1px solid rgba(28, 131, 232, 0.60);
  color: #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 25px 18px 30px 18px;
  height: 292px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.first__block__uptitle {
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 7px;
}


.first__block__title {
  font-size: 32px;
  padding-bottom: 6px;
  font-weight: 400;
}


.first__block__title span {
  color: #08C0FF;
}

.last__block {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.first__block__subtitle {
  color: #FFF;
  font-size: 20px;
  font-weight: 400;
}


.last__block h3 {
  font-size: 16px;
  font-weight: 400;
}

.last__block img {
  width: 219px;
}

.blocks {
  display: flex;
  align-items: center;
  gap: 21px;
  padding-bottom: 21px;
}


.second__block {
  width: 603px;
  max-width: 603px;
  height: 292px;
}


.second__block__uptitle {
  font-size: 20px;
}

.second__block__title {
  font-size: 32px;
  padding-top: 8px;
}


.third__block {
  width: 670px;
  max-width: 783px;
  height: 382px;
}


@media (max-width: 1292px) {
  .third__block {
    width: 549px
  }
  .last__block__wrap {
    flex-direction: column;
  }
}

.third__block__cards {
  display: flex;
  align-items: center;
}

.MainPageSlider {
  width: 100%;
}

.card {
  padding: 0 19px;
  border-radius: 25px;
  border: 1px solid rgba(28, 131, 232, 1);
  background: linear-gradient(180deg, #181A29 0%, #14151B 100%);
  width: 215px;
  height: 329px;
}

.card__device {
  font-size: 15px;
  font-family: 'Muller', sans-serif;
  padding-top: 8px;
}



.third__block__arrows {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: end;
  padding-right: 18px;
}

.addnewdevice {
  position: relative;
  left: 26px;
}

.arrow {
  width: 40px;
  height: 40px;
  background-color: #1F87EA;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.fourth__block {
  align-items: center;
  width: 271px;
  max-width: 271px;
  height: 382px;
  text-align: center;
  font-family: 'Muller', sans-serif;
  padding: 25px 18px 30px 18px;
}

.replace__button {
  width: 227px;
  height: 33px;
}

.fourth__block__title {
  font-size: 20px;
  padding-bottom: 20px;
}


.fourth__block__subtitle {
  padding-top: 30px;
  font-size: 14px;
}


.fivth__block {
  width: 571px;
  max-width: 571px;
  height: 198px;
}

.third__block__fistline {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.fivth__block__first {
  display: flex;
  justify-content: space-between;
}

.fivth__block__first__title {
  font-size: 20px;
}


.fivth__block__subtitle {
  font-weight: 300;
  font-size: 14px;
  opacity: 0.8;
}


.copy__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 508px;
  height: 43px;
  border-radius: 10px;
  border: 1px solid #1F87EA;
  background: linear-gradient(180deg, #181A29 0%, #14151B 100%);
}

.copy__wrap p {
  padding-right: 8px;
  font-weight: 300;
  opacity: 0.8;
}

.copy__wrap img {
  cursor: pointer;
}


.sixth__block {
  width: 483px;
  max-width: 483px;
  height: 198px;
}


.sixth__block__title {
  font-size: 20px;
  font-weight: 400;
}

.pormocode__title {
  font-weight: 400;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}

.pormocode {
  display: flex;
  flex-direction: column;
}

.pormocode__input {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 172px;
  height: 35px;
  border-radius: 10px;
  border: 1px solid #0D6CCA;
  background: linear-gradient(180deg, #181A29 0%, #14151B 100%);
  font-size: 16px;
  font-weight: 400;
  outline: none;
  color: #FFF;
  text-align: center;
}

.button {
  color: #FFF;
  cursor: pointer;
  border-radius: 25px;
  border: 0;
  background: var(--blue-gradient, linear-gradient(270deg, #0D6CCA 0%, #1F87EA 100%));
  box-shadow: 0px 9px 13px 0px rgba(0, 0, 0, 0.25);
  font-size: 12px;
  font-weight: 500;
}

.pormocode__button {
  width: 169px;
  height: 30px;
}


.bonus {
  cursor: pointer;
  border-radius: 10px;
}


.sixth__block__bonus {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bonus {
  width: 182px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 11px 12px 9px 16px;
  border-radius: 10px;
  border: 1px solid #08C0FF;
  background: linear-gradient(180deg, #181A29 0%, #14151B 100%);
}

.replace__input {
  margin-bottom: 9px;
  border-radius: 23px;
  border: 0;
  outline: none;
  color: #fff;
  text-align: center;
  width: 242px;
  height: 46px;
  background: #181A29;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.15);
}

.replace__image {
  width: 24px;
  cursor: pointer;
  height: 24px;
}

.bonus p {
  width: 63.59px;
}


.bonuses {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
  margin-right: 28px;
}

.auth {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  z-index: 1;
  display: none;
}

.auth__content {
  color: #fff;
  width: 604px;
  height: 292px;
  border-radius: 10px;
  background: #1B1A20;  
  z-index: 11111111;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  align-items: center;
  justify-content: center;
}

.auth__func__title {
  font-size: 32px;
}



.fourth__block__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.auth__button {
  color: #fff;
  text-decoration: none;
  padding: 9px 33px;
  margin-top: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  background: var(--blue-gradient, linear-gradient(270deg, #0D6CCA 0%, #1F87EA 100%));
  box-shadow: 0px 11px 12px 0px rgba(0, 0, 0, 0.25);
}

.auth__button svg {
  margin-right: 4px;
}

.bigtelegram {
  width: 167.596px;
  height: 169.665px;
  margin-left: 69px;
}


.burger__menu {
  display: none;
  z-index: 1121321322;
}
@media (max-width: 1152px) {
  .sidebar {
    transition: all 0.3s ease;
    left: -100%;
    width: 271px;
  }
  .content__header__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .burger__menu {
    display: block;
  }

  .content {
    padding: 0px 25px;
    margin-left: 0;
  }
  .blocks {
    flex-direction: column;
  }
  .first__block {
    max-width: none;
    width: 600px !important;
  }
}


@media (max-width: 680px) {
  .first__block {
    max-width: none;
    width: 400px !important;
  }
  .copy__wrap {
    font-size: 16px;
    width: 100%;
  }
  .fivth__block  {
    padding: 25px 18px 30px 18px;
  }
  .card img {
    width: 144px;
    height: 150px;
  }
  .content__wallets {
    display: none;
  }
}